@{
  Layout = "_Layout";
}

@using RecipeBox.Models;

@using (Html.BeginForm("Index", "Category", FormMethod.Get))
{
  <div class="float-right">
    <p>
      Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
      <button type="submit" value="Search" class="btn btn-outline-success btn-sm">Search</button>
    </p>
  </div>
}
<div class="centered">
<table class="table">
  <tr>
    <td>
      <h3>Category Name</h3>
    </td>
  </tr>
  <tr>
    @if (@Model.Count == 0)
    {
      <th>
        <h3>No Categories have been added yet!</h3>
      </th>
    }
  </tr>
    @foreach(Category category in Model)
    {
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>
              @Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })
            </th>
          </tr>
        </thead>
      </table>
    }
</table>
<td>
    @Html.ActionLink("Add a category", "Create")
</td>
<h5>@Html.ActionLink("Main Menu", "Index", "Home")</h5>
</div>