@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model List<RecipeBox.Models.Category>;

<h1>Category List</h1>

@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
  <p>
    Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
      <button type="submit" value="Search" class="btn btn-outline-success btn-sm">Search</button>

  </p>
}

<table class="table">
  <tr>

  </tr>
</table>

@if (@Model.Count == 0)
{
  <h3><i class="bi bi-exclamation-triangle"></i> No Categories have been added yet!<i class="bi bi-exclamation-triangle"></i></h3>
}
<ul>
  @foreach (Category recipe in Model)
  {
    <li>
      @Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.CategoryId })
    </li>

  }
</ul>


<h5>@Html.ActionLink("Add a new category", "Create")</h5>
<h5>@Html.ActionLink("Main Menu", "Index", "Home")</h5>